*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --btn-primary-color: lightgreen;
    --btn-secondary-color: orange;
    --main-colour: #444;
    --bg-colour: #f4f4f4;
    --primary-color: #cc0000;
	--secondary-color: #7c0000;

  }

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
*{
    margin:0;
    padding: 0;
    font-family:'Poppins', sans-serif

}

a{
    text-decoration: none;
}

/* sticky footer from https://css-tricks.com/couple-takes-sticky-footer/ */
html, body {
    height: 100%;
}
body {
    display: grid;
    grid-gap: 2px;
    height: 100%;
    grid-template-rows: 40px 1fr 50px;
    grid-template-columns: 30% 1fr;

    grid-template-areas:
              "nav nav"
              "side main"
              "foot foot";
}
nav {
    grid-area: nav;
    background-color: #7E57C2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav > *{
    margin: 0 10px;
}



.side{
    grid-area: side;
    background-color: #9bb191;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    align-self: flex-start;
}
.side p{
    text-align: justify;
}

.container{
    grid-area: main;
    /* min-height: calc(100vh); */
}
.footer {
    grid-area: foot;
}
/* sticky footer end*/

.footer {
    background: #42A5F5;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer >*{
    margin: 0 10px;
}

.footer i{
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.footer i:hover{
    transform: translateY(-8px);
}



.polls{
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.polls h2{
    margin-bottom: 20px;
}
.polls form{
    width:80%;
    display: flex;
    flex-direction: column;
}
.polls .row{
    width: 100%;
    min-height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.row a,
.res-navi a{
    display: inline-flex;
    padding: 5px 10px;
    border-radius: 5px;
    width: 90px;
    justify-content: center;
    text-decoration: none;
    color: lightslategray;
}
.res-navi a{
    width: 200px
}
.row a:hover{
    font-weight: bold;
}
.row a.primary{
    border: 1px solid var(--btn-primary-color);
}
.row a:hover.primary{
    background: var(--btn-primary-color);
    color: #6e6e6e;
}

.row a.secondary{
    border: 1px solid var(--btn-secondary-color);
    margin-left: 5px;
}
.row a:hover.secondary{
    background: var(--btn-secondary-color);
    color: #2e2e2e;
}

form input[type='submit']{
    margin: 10px 0;
    align-self: center;
    width: 200px;
    padding: 5px;
    border-radius: 3px;
    background-color: var(--btn-primary-color);
    
}
