body{
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    grid-gap: 2px;
    border: 1px solid gray;
    height: 100%;
    grid-template-rows: 40px 1fr 50px;
    grid-template-columns: 30% 1fr;

    grid-template-areas:
              "nav nav"
              "main main"
              "foot foot";
}

