{% extends 'base.html' %}
{% load static %}

    {% block header %}
        <link rel="stylesheet" href="{% static '/css/polls.css' %}">
        
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel=”stylesheet” type=”text/css”>
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel=”stylesheet” type=”text/css”>
        
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    {% endblock header %}
    
    {% block navigation %}
        {% include 'navigation.html' %}
        {% include 'polls/side.html' %}
    {% endblock navigation %}

    {% block footer %}
        {% include 'polls/footer.html' %}
    {% endblock footer %}


    {% block bootom_scripts %}
        <script src="{% static '/js/polls.js' %}"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-1.4.0.min.js"></script>
    {% endblock bootom_scripts %}