{% load static %}

<div class="icons">
    <ul class="social">
        <li><a href="#"><img src="{% static '/img/facebook-logo.png'%}" alt="" srcset=""></a></li>
        <li><a href="#"><img src="{% static '/img//instagram.png'%}" alt="" srcset=""></a></li>
        <li><a href="#"><img src="{% static '/img/linkedin.png'%}" alt="" srcset=""></a></li>
        <li><a href=""><img src="{% static '/img/twitter.png'%}" alt="" srcset=""></a></li>
    </ul>
    <ul class="arrows">
        <li><a><img src="{% static '/img/left-arrow.png'%}" onclick="nextSlide(-1)" alt=""></a></li>
        <li><a><img src="{% static '/img/right-arrow.png'%}" onclick="nextSlide(1)" alt=""></a></li>
    </ul>
</div>