{% extends "main/template.html" %}

{% load i18n %}

{% load static %}

{% block content %}

    <div class="content">
            <div class="bannerText" id="sliderText">
                <div class="active">
                    <h2>{% trans "Design Lighting" %}</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quas deleniti repellendus, accusantium doloremque quisquam error laboriosam, maxime temporibus quis pariatur quibusdam unde officiis itaque ipsa quos iste quam ratione sapiente distinctio adipisci? Eligendi quaerat vitae tempora voluptatem explicabo, obcaecati nemo adipisci nostrum qui quae dolorum voluptatum nesciunt dolores veritatis.</p>
                    <a href="#">Read More</a>
                </div>
                <div>
                    <h2>Design Heating and ventilation</h2>
                    <p>Adipisci alias, eos quibusdam iste ducimus, illum temporibus aliquam dolor eveniet accusamus nisi voluptatum, sunt a dignissimos cum! Ipsum maiores magni libero! Similique, magnam doloremque explicabo nostrum a numquam dignissimos ea perspiciatis. Fuga distinctio eaque a fugit, impedit deleniti enim? Quia sunt aspernatur vero dolores laborum deleniti officia esse distinctio, dolor debitis, quisquam.</p>
                    <a href="#">Read More</a>
                </div>
                <div>
                    <h2>Design thermal resistance</h2>
                    <p>Illum temporibus aliquam dolor eveniet accusamus nisi voluptatum, sunt a dignissimos cum! Ipsum maiores magni libero! Similique, magnam doloremque explicabo nostrum a numquam dignissimos ea perspiciatis. Fuga distinctio eaque a fugit, impedit deleniti enim? Quia sunt aspernatur vero dolores laborum deleniti officia esse distinctio, dolor debitis, quisquam.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            
        <div class="bannerImg" id="slider">
            <img src="{% static '/img/light-1603766_640.jpg'%}" alt="" class="active">
            <img src="{% static '/img/working-team.jpg'%}" alt=""  >
            <img src="{% static '/img/warm-photo.jpeg'%}" alt="">
            
        </div>

    </div>

{% endblock content  %}
