{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>

<div class="container">

{% include 'main/navigation.html' %}

    {% block content %}

    {% endblock content %}

{% include 'main/footer.html' %}
</div> <!-- class="container-fluid" -->

<script src="{% static '/js/main.js' %}"></script>
</body>
</html>