{% extends 'posts/template.html' %}
{% load i18n %}

{% load static %}

{% block content %}
    <div class="content">
        {% for p in posts %}
            <article class="article-section">
                <img class="article-image" src={{ p.author.profile.image.url}}/>
                <div class="article-text">
                    <div class="article-posted"><span>By {{p.author}}</span> {{p.post_date|date:"SHORT_DATE_FORMAT"}}</div>
                    <div class="article-title"><a href="{% url 'posts:post-detail' p.id %}">{{p.title}}</a></div>
                    <div class="article-content">{{p.content}}</div>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}