{% extends 'posts/template.html' %}
{% load i18n %}

{% load static %}

{% block content %}
    <div class="content">
        <article class="article-section">
            <img class="article-image" src={{ object.author.profile.image.url}}/>
            <div class="article-text">
                <div class="article-posted"><span>By {{object.author}}</span> {{object.post_date|date:"SHORT_DATE_FORMAT"}}</div>
                <div class="article-title">{{object.title}} </div>
                <div class="article-content">{{object.content}}</div>
            </div>
        </article>
    </div>
{% endblock content %}