{% extends 'users/template.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="content">
    <h2>Are you sure you want to delete the post?</h2>
    <h3>{{object.title}}</h3>

    <form method="post">
        {% csrf_token %}
        
        <div class="submit">
            <button type="submit" class="btn danger">Yes, Delete</button>
            <a class="btn" href="{% url 'posts:post-detail' object.id %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}