{% extends 'posts/template.html' %}
{% load i18n %}

{% load static %}

{% block content %}
    <div class="content">
    {% if user.is_authenticated %} 
    <h2>Posts by {{view.kwargs.username}} ({{page_obj.paginator.count}})</h2>
    <div class="article-create">
    <a class="btn" href="{% url 'posts:main'%}">Back to the list
    <a class="btn" href="{% url 'posts:post-create'%}">Add new post
    </a></div>
    {% endif %}
        {% for p in posts %}
            <article class="article-section">
                <img class="article-image" src={{ p.author.profile.image.url}}/>
                <div class="article-text">
                    <div class="article-posted">
                            <span>By {{p.author}}</span> {{p.post_date|date:"SHORT_DATE_FORMAT"}}
                    </div>
                    <div class="article-title"><a href="{% url 'posts:post-detail' p.id %}">{{p.title}}</a></div>
                    <div class="article-content">{{p.content}}</div>
                </div>
            </article>
        {% endfor %}
        {% if is_paginated %}
            <div class="pagination">

                {% if page_obj.has_previous %}
                    <a class="btn" href="?page=1">First</a>
                    <a class="btn" href="?page={{page_obj.previous_page_number}}"><< Previous</a>
                {% endif %}
                <span>{{page_obj.number}}</span>
                {% if page_obj.has_next %}
                    <a class="btn" href="?page={{page_obj.next_page_number}}">Next >></a>
                    {% if page_obj.next_page_number < page_obj.paginator.num_pages %}<a class="btn" href="?page={{page_obj.paginator.num_pages}}">Last</a>{% endif %}
                    
                {% endif %}

            </div>
        {% endif %}

    </div>
{% endblock content %}